<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="ReallyReallyGoodReads: A community where you can explore, review, and share your favorite books."
    />
    <title>ReallyReallyGoodReads</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header role="banner">
      <div class="header-content">
        <div class="logo-title">
          <img
            src="/images/logo.png"
            alt="ReallyReallyGoodReads logo"
            class="logo"
          />
          <h1>
            <a href="/" class="logo-link">ReallyReallyGoodReads</a>
          </h1>
        </div>
        <nav role="navigation" aria-label="Main Navigation">
          <ul>
            <% if (user) { %>
            <li><a href="/books" aria-label="View all books">Books</a></li>
            <li>
              <a href="/reviews" aria-label="Read community reviews"
                >Community Reviews</a
              >
            </li>
            <li>
              <a href="/reviews/my-reviews" aria-label="View my reviews"
                >My Reviews</a
              >
            </li>
            <li>
              <a href="/logout" aria-label="Log out of your account">Logout</a>
            </li>
            <% } else { %>
            <li>
              <a href="/login" aria-label="Login or Register"
                >Login / Register</a
              >
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
