<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <h2>About</h2>
        <p>
          ReallyReallyGoodReads is a website dedicated to providing a platform for
          book lovers to discover and review books across all genres. Our goal is
          to offer a space where users can find reliable book recommendations and
          share their reading experiences.
        </p>
        <p>
          We feature a growing collection of book reviews from users who rate and
          comment on books they've read. Reviews are organised by genre, and users
          can browse, filter, and search for books based on different criteria,
          including author, title, and rating.
        </p>
      </section>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
  